body{
    background-color: rgb(26, 25, 25) !important;
}

.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#title{
    text-align: center;
    font-size: 35px;
}
#joke{
    font-size: 25px;
    padding-top: 10px;
}